{% extends 'feed/base.html' %}
{% block content %}
{% for funnel in landing_page %}
<div class="container">
  <div class="row">
    <div class="col-4 mb-2">
      <img src="{{funnel.img}}" alt="{{ funnel.headline }}" class="rounded-circle" style="width:120px;height:120px;">
    </div>
    <div class="col-8">
      <h5 style="font-family: 'Montserrat', sans-serif;">{{ funnel.headline }}</h5>
      <small style="font-family: 'Montserrat', sans-serif;">{{ funnel.hook }}</small>
    </div> 
  </div>
    <a href="{{funnel.url}}" style="text-decoration:none;">
      <div class="container-fluid rounded mb-5 p-2 text-center" style="background-color:{{funnel.theme}}; height:3em;">
        <span style="font-family: 'Montserrat', sans-serif; color:#fff; font-size:1em;">{{funnel.cta}}</span>
      </div>
    </a><br>
  <amp-img
    alt="{{funnel.headline}}"
    src="{{funnel.p_img}}"
    width="1080"
    height="1080"
    layout="responsive"
  >
</amp-img><br>
<p class="lead" style="font-family: 'Montserrat', sans-serif;">
  {{funnel.body|safe}}
</p><br>
  <div class="card text-center">
  <br>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{ funnel.description_title }}</h5>
    <p class="card-text">{{ funnel.description }}</p>
    <a href="{{funnel.url}}" style="text-decoration:none;">
      <div class="container-fluid rounded mb-5 p-2 text-center" style="background-color:{{funnel.theme}}; height:3em;">
        <span style="font-family: 'Montserrat', sans-serif; color:#fff; font-size:1em;">{{funnel.cta}}</span>
      </div>
    </a>
  </div>
</div>
</div><br>
{% endfor %}
{% endblock %}