{% extends 'feed/base.html' %}
{% block content %}
{% for discover in object_list %}
<div class="card mb-3">
  <img src="{{discover.discover_img}}" class="card-img-top" alt="{{discover.discover_text}}">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Montserrat', sans-serif;">{{discover.discover_text}}</h5>
    <p class="card-text" style="font-family: 'Montserrat', sans-serif;">{{discover.hook}}</p>
    <a href="{% url 'articles:discoverdetail' discover.slug %}" class="col-12 text-center btn btn-sm" style="font-size:25px; font-family: 'Montserrat', sans-serif; width:100%;background-color:#3a4cb1;color:white;">View</a>
  </div>
</div>
{% endfor %}
{% endblock %}