{% extends 'feed/base.html' %}
{% block content %}
{% for list in object_list %}
<div class="card mb-3">
  <img src="{{list.list_img}}" class="card-img-top" alt="{{discover.discover_text}}">
  <div class="card-body">
    <h4 class="card-title" style="font-family: 'Montserrat', sans-serif;">{{list.list_headline}}</h4>
    <a href="{% url 'articles:listdetail' list.slug %}" class="col-12 text-center btn btn-sm" style="font-size:25px; font-family: 'Montserrat', sans-serif; width:100%;background-color:#3a4cb1;color:white;">View</a>
  </div>
</div>
{% endfor %}
    </div>
{% endblock %}